.heroContent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50 px 0;
    width: 90%;
    max-width: 1900px;
    background-color: var(--bg-color);
    color: #fff;
}

.heroContent h1{
    font-weight: bold ;
    font-size: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea el texto a la izquierda */
    margin: 0; /* Elimina el margen del h1 */
}

.heroContent p{
    color: #a8a8a8;
}

.heroPoint{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: var(--web-color);
    vertical-align: bottom;
    margin-bottom: 10px;
    border-radius: 2px;
}



.imContent{
    display: flex;
    align-items: center;
    font-size: 2em;
}

.imageHero{
    display: none;
}


/* -Btn hero -*/

.btnHero{
    margin: 30px 0 20px;
    cursor: pointer;
    --border-color: linear-gradient(-45deg, #ffae00, #7303aa, #00fffb);
    --border-width: .125em;
    --curve-size: .5em;
    --blur: 30px;
    --bg: var(--bg-color);
    --color: #afffff;
    color: var(--color);
    /* use position: relative; so that BG is only for .btn*/
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    padding: .5em 1.5em;
    font-size: 17px;
    border: 0;
    text-transform: uppercase;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
    clip-path: polygon(
                /* Top left */
                0% var(--curve-size),
                
                var(--curve-size) 0,
                /* Top-right */
                100% 0,
                100% calc(100% - var(--curve-size)),

                /* bottom-right 1 */
                calc(100% - var(--curve-size)) 100%,
                /* bottom-right 2 */
                0 100%
    );
    transition: color 250ms;
}

.btnHero::after,
.btnHero::before {
    content: '';
    position: absolute;
    inset: 0;
}

.btnHero::before {
    background: var(--border-color);
    background-size: 300% 300%;
    animation: move-bg7234 5s ease infinite;
    z-index: -2;
}

@keyframes move-bg7234 {
    0% {
        background-position: 31% 0%;
    }

    50% {
        background-position: 70% 100%;
    }
    100% {
        background-position: 31% 0%;
    }
}

.btnHero::after {
    background: var(--bg);
    z-index: -1;
    clip-path: polygon(
        /* Top left */
        var(--border-width),
        calc(var(--curve-size) + var(--border-width) * .5),

        calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),                
        
        /* Top-right */
        calc(100% - var(--border-width))
        var(--border-width),

        calc(100% - var(--border-width))
        calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),

        /* bottom-right 1 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
        /* bottom-right 2 */
        var(--border-width) calc(100% - var(--border-width))
    );
    transition: clip-path 500ms;
}

.btnHero::where(:hover, :focus)::after {
    clip-path: polygon(
        /* Top left */
        calc(100% - var(--border-width))

        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),

        calc(100% - var(--border-width))

        var(--border-width),

        /* Top-right */
        calc(100% - var(--border-width))

         var(--border-width),

        calc(100% - var(--border-width))

        calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),

        /* bottom-right 1 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * .5))
        calc(100% - var(--border-width))
        /* bottom-right 2 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width))
    );
    transition: 200ms;
}

.btnHero::where(:hover, :focus) {
    color: #fff;
}







.btnHero {
    margin: 30px 0 20px;
    cursor: pointer;
    --border-color: linear-gradient(-45deg, #ffae00, #7303aa, #00fffb);
    --border-width: .125em;
    --curve-size: .5em;
    --blur: 30px;
    --bg: var(--bg-color); 
    --color: #afffff;
    color: var(--color);
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    padding: .5em 1.5em;
    font-size: 17px;
    border: 0;
    text-transform: uppercase;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
    clip-path: polygon(
        0% var(--curve-size),
        var(--curve-size) 0,
        100% 0,
        100% calc(100% - var(--curve-size)),
        calc(100% - var(--curve-size)) 100%,
        0 100%
    );
    transition: color 250ms;
}

.btnHero::after,
.btnHero::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -2;
    transition: clip-path 0.5s;
}

.btnHero::before {
    background: var(--border-color);
    background-size: 300% 300%;
    animation: move-bg7234 5s ease infinite;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 100%
    );
    z-index: -2;
}

@keyframes move-bg7234 {
    0% {
        background-position: 31% 0%;
    }
    50% {
        background-position: 70% 100%;
    }
    100% {
        background-position: 31% 0%;
    }
}

.btnHero::after {
    background: var(--bg);
    z-index: -1;
    clip-path: polygon(
        var(--border-width) var(--curve-size),
        calc(var(--curve-size) + var(--border-width)) var(--border-width),
        calc(100% - var(--border-width)) var(--border-width),
        calc(100% - var(--border-width)) calc(100% - var(--curve-size)),
        calc(100% - var(--curve-size)) calc(100% - var(--border-width)),
        var(--border-width) calc(100% - var(--border-width))
    );
    transition: clip-path 2s;
}


.btnHero:hover::after,
.btnHero:focus::after {
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 100%
    );
    transition: clip-path 1.5s ;
}

.btnHero:hover,
.btnHero:focus {
    color: #fff;
}










/* -Btn hero -*/

.btnHero {
    margin: 30px 0 20px;
    cursor: pointer;
    --border-color: linear-gradient(-45deg, #ffae00, #7303aa, #00fffb);
    --border-width: 0.15em;
    --curve-size: 20em;
    --bg: var(--bg-color);
    --color: #afffff;
    color: var(--color);
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    padding: .5em 1.5em;
    font-size: 17px;
    border: var(--border-width) solid transparent;
    border-image: var(--border-color) 1;
    border-radius: 2em;
    text-transform: uppercase;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
    clip-path: polygon(
        0% var(--curve-size),
        var(--curve-size) 0,
        100% 0,
        100% calc(100% - var(--curve-size)),
        calc(100% - var(--curve-size)) 100%,
        0 100%
    );
    transition: color 250ms;
}

.btnHero::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -2;
    background: var(--border-color);
    background-size: 300% 300%;
    border-radius: 2em;
    animation: move-bg7234 5s ease infinite;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 100%
    );
}

@keyframes move-bg7234 {
    0% {
        background-position: 31% 0%;
    }
    50% {
        background-position: 70% 100%;
    }
    100% {
        background-position: 31% 0%;
    }
}

@keyframes wipe-out-left {
    from {
        clip-path: inset(0 0 0 0);
    }
    to {
        clip-path: inset(0 0 0 100%);
    }
}

@keyframes wipe-in-right {
    from {
        clip-path: inset(0 0 0 100%);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}

.btnHero::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: var(--bg);
    border-radius: 2em;
    clip-path: polygon(
        var(--border-width) var(--curve-size),
        calc(var(--curve-size) + var(--border-width)) var(--border-width),
        calc(100% - var(--border-width)) var(--border-width),
        calc(100% - var(--border-width)) calc(100% - var(--curve-size)),
        calc(100% - var(--curve-size)) calc(100% - var(--border-width)),
        var(--border-width) calc(100% - var(--border-width))
    );
    transition: clip-path 2s;
}
.btnHero:hover::after,
.btnHero:focus::after {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-out-left both;
}

.btnHero:not(:hover)::after {
    animation: wipe-in-right 3s cubic-bezier(.25, 1, .30, 1) both;
}

.btnHero:hover,
.btnHero:focus {
    color: #fff;
}





/*btn hero */ 


.btnHero {
    margin: 30px 0 20px;
    cursor: pointer;
    --border-color: linear-gradient(-45deg, #ffae00, #7303aa, #00fffb);
    --border-width: .125em;
    --curve-size: .5em;
    --blur: 30px;
    --bg: var(--bg-color); 
    --color: #afffff;
    color: var(--color);
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    padding: .5em 1.5em;
    font-size: 17px;
    border: 0;
    text-transform: uppercase;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
    clip-path: polygon(
        0% var(--curve-size),
        var(--curve-size) 0,
        100% 0,
        100% calc(100% - var(--curve-size)),
        calc(100% - var(--curve-size)) 100%,
        0 100%
    );
    transition: color 250ms;
}

.btnHero::after,
.btnHero::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -2;
    transition: clip-path 0.5s;
}

.btnHero::before {
    background: var(--border-color);
    background-size: 300% 300%;
    animation: move-bg7234 5s ease infinite;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 100%
    );
    z-index: -2;
}

@keyframes move-bg7234 {
    0% {
        background-position: 31% 0%;
    }
    50% {
        background-position: 70% 100%;
    }
    100% {
        background-position: 31% 0%;
    }
}
@keyframes wipe-out-left {
    from {
        clip-path: inset(0 0 0 0);
    }
    to {
        clip-path: inset(0 0 0 100%);
    }
}

@keyframes wipe-in-right {
    from {
        clip-path: inset(0 0 0 100%);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}

.btnHero::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: var(--bg);
    border-radius: 2em;
    clip-path: polygon(
        var(--border-width) var(--curve-size),
        calc(var(--curve-size) + var(--border-width)) var(--border-width),
        calc(100% - var(--border-width)) var(--border-width),
        calc(100% - var(--border-width)) calc(100% - var(--curve-size)),
        calc(100% - var(--curve-size)) calc(100% - var(--border-width)),
        var(--border-width) calc(100% - var(--border-width))
    );
    transition: clip-path 2s;
}
.btnHero:hover::after,
.btnHero:focus::after {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-out-left both;
}

.btnHero:not(:hover)::after {
    animation: wipe-in-right 3s cubic-bezier(.25, 1, .30, 1) both;
}

.btnHero:hover,
.btnHero:focus {
    color: #fff;
}

