.heroContent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50 px 0;
    width: 90%;
    max-width: 1900px;
    background-color: var(--bg-color);
    color: #fff;
}

.heroContent h1{
    font-weight: bold ;
    font-size: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea el texto a la izquierda */
    margin: 0; /* Elimina el margen del h1 */
}

.heroContent p{
    color: #a8a8a8;
}

.heroPoint{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: var(--web-color);
    vertical-align: bottom;
    margin-bottom: 10px;
    border-radius: 2px;
}



.imContent{
    display: flex;
    align-items: center;
    font-size: 2em;
}

/* Btn Hero */
.btnHero {
    --glow-color: rgb(35, 33, 166);
    --glow-spread-color: rgba(35, 23, 208, 0.781);
    --enhanced-glow-color: rgb(60, 50, 206);
    --btn-color: rgb(6, 6, 36);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 0.5em .15em var(--glow-color),
    0 0 1.5em 0.5em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    margin-top: 2em; /* Ajustar la posici贸n del bot贸n */
}

.btnHero::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 100%; /* Ajustar la posici贸n para evitar la sombra que se extiende hacia abajo */
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(1em); /* Reducir el desenfoque */
    opacity: .4; /* Reducir la opacidad */
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
    clip-path: inset(0 10em 0 10em); /* Limitar la extensi贸n de la sombra */
}

.btnHero:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 0.5em .15em var(--glow-color),
    0 0 2em 1em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
}

.btnHero:active {
    box-shadow: 0 0 0.3em .15em var(--glow-color),
    0 0 1.5em 0.5em var(--glow-spread-color),
    inset 0 0 .5em .25em var(--glow-color);
}


/*Fin Btn Hero*/


/* Media Queris */

@media only screen and (max-width: 900px){
    .imgHero{
        display: none;
    }

    .infoHero{
        text-align: center;
    }

    .infoHero h1{
        margin-top: 20px;
    }
}
  