.topbtn {
    --glow-color: rgb(35, 33, 166);
    --glow-spread-color: rgba(35, 23, 208, 0.781);
    --enhanced-glow-color: rgb(60, 50, 206);
    --btn-color: rgb(6, 6, 36);
    border: none;
    padding: 1rem;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 0.5em .15em var(--glow-color),
                0 0 1.5em 0.5em var(--glow-spread-color),
                inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: fixed;
    bottom: 2em;
    right: 2em;
    z-index: 1000;
    opacity: 0; /* Inicialmente oculto */
    transform: translateY(20px); /* Mover hacia abajo inicialmente */
}

.topbtn.visible {
    opacity: 1; /* Hacer visible */
    transform: translateY(0); /* Mover a la posición original */
}

.topbtn::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(1em);
    opacity: .4;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
    clip-path: inset(0 10em 0 10em);
}

.topbtn:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
}

.topbtn:active {
    box-shadow: 0 0 0.3em .15em var(--glow-color),
    0 0 1.5em 0.5em var(--glow-spread-color),
    inset 0 0 .5em .25em var(--glow-color);
}

@media only screen and (max-width: 1000px) {
    .subWrapAM {
        margin: 50px 0;
        flex-direction: column;
        gap: 100px;
    }
    .subWrapAM .content-aboutMe {
        align-items: center;
        text-align: center;
        gap: 50px;
    }
}
